.theme-default .theme-container {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
}

.theme-blue .theme-container {
  --background: oklch(0.930 0.002 263.010);
  --foreground: oklch(0.14 0.015 263.010);
  --card: oklch(1.000 0.004 263.010);
  --card-foreground: oklch(0.14 0.015 263.010);
  --popover: oklch(0.990 0.020 263.010);
  --popover-foreground: oklch(0.14 0.015 263.010);
  --primary: oklch(0.550 0.296 263.010);
  --primary-foreground: oklch(0.98 0.015 263.010);
  --secondary: oklch(0.950 0.030 263.010);
  --secondary-foreground: oklch(0.14 0.015 263.010);
  --muted: oklch(0.940 0.007 263.010);
  --muted-foreground: oklch(0.40 0.015 263.01);
  --accent: oklch(0.900 0.024 263.010);
  --accent-foreground: oklch(0.14 0.015 263.010);
  --destructive: oklch(0.550 0.220 25.000);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.910 0.002 263.010);
  --input: oklch(0.910 0.030 263.010);
  --ring: oklch(0.550 0.296 263.010);
  --radius: 0.5rem;
  --sidebar: oklch(0.960 0.002 263.010);
  --sidebar-foreground: oklch(0.14 0.015 263.010);
  --sidebar-primary: oklch(0.550 0.296 263.010);
  --sidebar-primary-foreground: oklch(0.98 0.015 263.010);
  --sidebar-accent: oklch(0.940 0.007 263.010);
  --sidebar-accent-foreground: oklch(0.14 0.015 263.010);
  --sidebar-border: oklch(0.870 0.002 263.010);
  --sidebar-ring: oklch(0.550 0.296 263.010);
  --chart-1: oklch(0.550 0.296 263.010);
  --chart-2: oklch(0.490 0.296 293.010);
  --chart-3: oklch(0.430 0.296 323.010);
  --chart-4: oklch(0.370 0.296 353.010);
  --chart-5: oklch(0.310 0.296 23.010);
  @variant dark {
    --background: oklch(0.090 0.030 263.010);
    --foreground: oklch(0.98 0.015 263.010);
    --card: oklch(0.280 0.002 263.010);
    --card-foreground: oklch(0.98 0.015 263.010);
    --popover: oklch(0.130 0.020 263.010);
    --popover-foreground: oklch(0.98 0.015 263.010);
    --primary: oklch(0.630 0.267 263.010);
    --primary-foreground: oklch(0.98 0.015 263.010);
    --secondary: oklch(0.220 0.089 263.010);
    --secondary-foreground: oklch(0.98 0.015 263.010);
    --muted: oklch(0.200 0.030 263.010);
    --muted-foreground: oklch(0.70 0.015 263.01);
    --accent: oklch(0.250 0.148 263.010);
    --accent-foreground: oklch(0.98 0.015 263.010);
    --destructive: oklch(0.450 0.220 25.000);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.260 0.002 263.010);
    --input: oklch(0.400 0.001 263.010);
    --ring: oklch(0.630 0.267 263.010);
    --sidebar: oklch(0.090 0.030 263.010);
    --sidebar-foreground: oklch(0.98 0.015 263.010);
    --sidebar-primary: oklch(0.630 0.267 263.010);
    --sidebar-primary-foreground: oklch(0.98 0.015 263.010);
    --sidebar-accent: oklch(0.200 0.030 263.010);
    --sidebar-accent-foreground: oklch(0.98 0.015 263.010);
    --sidebar-border: oklch(0.260 0.002 263.010);
    --sidebar-ring: oklch(0.630 0.267 263.010);
    --chart-1: oklch(0.550 0.267 263.010);
    --chart-2: oklch(0.610 0.253 293.010);
    --chart-3: oklch(0.670 0.240 323.010);
    --chart-4: oklch(0.730 0.227 353.010);
    --chart-5: oklch(0.790 0.213 23.010);
  }
}


.theme-green .theme-container {
  --background: oklch(0.93 0.002 159.590);
  --foreground: oklch(0.14 0.015 159.590);
  --card: oklch(1.000 0.004 159.590);
  --card-foreground: oklch(0.14 0.015 159.590);
  --popover: oklch(0.990 0.020 159.590);
  --popover-foreground: oklch(0.14 0.015 159.590);
  --primary: oklch(0.550 0.181 159.590);
  --primary-foreground: oklch(0.98 0.015 159.590);
  --secondary: oklch(0.950 0.018 159.590);
  --secondary-foreground: oklch(0.14 0.015 159.590);
  --muted: oklch(0.940 0.007 159.590);
  --muted-foreground: oklch(0.40 0.015 159.59);
  --accent: oklch(0.900 0.014 159.590);
  --accent-foreground: oklch(0.14 0.015 159.590);
  --destructive: oklch(0.550 0.220 25.000);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.91 0.002 159.590);
  --input: oklch(0.91 0.030 159.590);
  --ring: oklch(0.550 0.181 159.590);
  --radius: 0.5rem;
  --sidebar: oklch(0.960 0.002 159.590);
  --sidebar-foreground: oklch(0.14 0.015 159.590);
  --sidebar-primary: oklch(0.550 0.181 159.590);
  --sidebar-primary-foreground: oklch(0.98 0.015 159.590);
  --sidebar-accent: oklch(0.940 0.007 159.590);
  --sidebar-accent-foreground: oklch(0.14 0.015 159.590);
  --sidebar-border: oklch(0.870 0.002 159.590);
  --sidebar-ring: oklch(0.550 0.181 159.590);
  --chart-1: oklch(0.550 0.181 159.590);
  --chart-2: oklch(0.490 0.181 189.590);
  --chart-3: oklch(0.430 0.181 219.590);
  --chart-4: oklch(0.370 0.181 249.590);
  --chart-5: oklch(0.310 0.181 279.590);
  @variant dark {
    --background: oklch(0.090 0.030 159.590);
    --foreground: oklch(0.98 0.015 159.590);
    --card: oklch(0.28 0.002 159.590);
    --card-foreground: oklch(0.98 0.015 159.590);
    --popover: oklch(0.130 0.020 159.590);
    --popover-foreground: oklch(0.98 0.015 159.590);
    --primary: oklch(0.630 0.163 159.590);
    --primary-foreground: oklch(0.98 0.015 159.590);
    --secondary: oklch(0.220 0.054 159.590);
    --secondary-foreground: oklch(0.98 0.015 159.590);
    --muted: oklch(0.200 0.030 159.590);
    --muted-foreground: oklch(0.70 0.015 159.59);
    --accent: oklch(0.250 0.090 159.590);
    --accent-foreground: oklch(0.98 0.015 159.590);
    --destructive: oklch(0.450 0.220 25.000);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.260 0.002 159.590);
    --input: oklch(0.400 0.001 159.590);
    --ring: oklch(0.630 0.163 159.590);
    --sidebar: oklch(0.090 0.030 159.590);
    --sidebar-foreground: oklch(0.98 0.015 159.590);
    --sidebar-primary: oklch(0.630 0.163 159.590);
    --sidebar-primary-foreground: oklch(0.98 0.015 159.590);
    --sidebar-accent: oklch(0.200 0.030 159.590);
    --sidebar-accent-foreground: oklch(0.98 0.015 159.590);
    --sidebar-border: oklch(0.260 0.002 159.590);
    --sidebar-ring: oklch(0.630 0.163 159.590);
    --chart-1: oklch(0.550 0.163 159.590);
    --chart-2: oklch(0.610 0.154 189.590);
    --chart-3: oklch(0.670 0.146 219.590);
    --chart-4: oklch(0.730 0.138 249.590);
    --chart-5: oklch(0.790 0.130 279.590);
  }
}


.theme-amber .theme-container {
  --background: oklch(0.930 0.002 51.020);
  --foreground: oklch(0.14 0.015 51.020);
  --card: oklch(1.000 0.004 51.020);
  --card-foreground: oklch(0.14 0.015 51.020);
  --popover: oklch(0.990 0.020 51.020);
  --popover-foreground: oklch(0.14 0.015 51.020);
  --primary: oklch(0.500 0.134 51.020);
  --primary-foreground: oklch(0.98 0.015 51.020);
  --secondary: oklch(0.950 0.013 51.020);
  --secondary-foreground: oklch(0.14 0.015 51.020);
  --muted: oklch(0.940 0.007 51.020);
  --muted-foreground: oklch(0.40 0.015 51.02);
  --accent: oklch(0.900 0.011 51.020);
  --accent-foreground: oklch(0.14 0.015 51.020);
  --destructive: oklch(0.550 0.220 25.000);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.910 0.002 51.020);
  --input: oklch(0.910 0.030 51.020);
  --ring: oklch(0.500 0.134 51.020);
  --radius: 0.5rem;
  --sidebar: oklch(0.960 0.002 51.020);
  --sidebar-foreground: oklch(0.14 0.015 51.020);
  --sidebar-primary: oklch(0.500 0.134 51.020);
  --sidebar-primary-foreground: oklch(0.98 0.015 51.020);
  --sidebar-accent: oklch(0.940 0.007 51.020);
  --sidebar-accent-foreground: oklch(0.14 0.015 51.020);
  --sidebar-border: oklch(0.870 0.002 51.020);
  --sidebar-ring: oklch(0.500 0.134 51.020);
  --chart-1: oklch(0.550 0.134 51.020);
  --chart-2: oklch(0.490 0.134 81.020);
  --chart-3: oklch(0.430 0.134 111.020);
  --chart-4: oklch(0.370 0.134 141.020);
  --chart-5: oklch(0.310 0.134 171.020);
  @variant dark {
    --background: oklch(0.090 0.030 51.020);
    --foreground: oklch(0.98 0.015 51.020);
    --card: oklch(0.280 0.002 51.020);
    --card-foreground: oklch(0.98 0.015 51.020);
    --popover: oklch(0.130 0.020 51.020);
    --popover-foreground: oklch(0.98 0.015 51.020);
    --primary: oklch(0.580 0.121 51.020);
    --primary-foreground: oklch(0.98 0.015 51.020);
    --secondary: oklch(0.220 0.040 51.020);
    --secondary-foreground: oklch(0.98 0.015 51.020);
    --muted: oklch(0.200 0.030 51.020);
    --muted-foreground: oklch(0.70 0.015 51.02);
    --accent: oklch(0.250 0.067 81.020);
    --accent-foreground: oklch(0.98 0.015 51.020);
    --destructive: oklch(0.450 0.220 25.000);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.260 0.002 51.020);
    --input: oklch(0.400 0.001 51.020);
    --ring: oklch(0.580 0.121 51.020);
    --sidebar: oklch(0.090 0.030 51.020);
    --sidebar-foreground: oklch(0.98 0.015 51.020);
    --sidebar-primary: oklch(0.580 0.121 51.020);
    --sidebar-primary-foreground: oklch(0.98 0.015 51.020);
    --sidebar-accent: oklch(0.200 0.030 51.020);
    --sidebar-accent-foreground: oklch(0.98 0.015 51.020);
    --sidebar-border: oklch(0.260 0.002 51.020);
    --sidebar-ring: oklch(0.580 0.121 51.020);
    --chart-1: oklch(0.550 0.121 51.020);
    --chart-2: oklch(0.610 0.115 81.020);
    --chart-3: oklch(0.670 0.109 111.020);
    --chart-4: oklch(0.730 0.103 141.020);
    --chart-5: oklch(0.790 0.097 171.020);
  }
}


.theme-rose .theme-container {
  --primary: var(--color-rose-600);
  --primary-foreground: var(--color-rose-50);
  --ring: var(--color-rose-400);
  --chart-1: var(--color-rose-300);
  --chart-2: var(--color-rose-500);
  --chart-3: var(--color-rose-600);
  --chart-4: var(--color-rose-700);
  --chart-5: var(--color-rose-800);
  --sidebar-primary: var(--color-rose-600);
  --sidebar-primary-foreground: var(--color-rose-50);
  --sidebar-ring: var(--color-rose-400);

  @variant dark {
    --primary: var(--color-rose-500);
    --primary-foreground: var(--color-rose-50);
    --ring: var(--color-rose-900);
    --sidebar-primary: var(--color-rose-500);
    --sidebar-primary-foreground: var(--color-rose-50);
    --sidebar-ring: var(--color-rose-900);
  }
}

.theme-purple .theme-container {
  --primary: var(--color-purple-600);
  --primary-foreground: var(--color-purple-50);
  --ring: var(--color-purple-400);
  --chart-1: var(--color-purple-300);
  --chart-2: var(--color-purple-500);
  --chart-3: var(--color-purple-600);
  --chart-4: var(--color-purple-700);
  --chart-5: var(--color-purple-800);
  --sidebar-primary: var(--color-purple-600);
  --sidebar-primary-foreground: var(--color-purple-50);
  --sidebar-ring: var(--color-purple-400);

  @variant dark {
    --primary: var(--color-purple-500);
    --primary-foreground: var(--color-purple-50);
    --ring: var(--color-purple-900);
    --sidebar-primary: var(--color-purple-500);
    --sidebar-primary-foreground: var(--color-purple-50);
    --sidebar-ring: var(--color-purple-900);
  }
}

.theme-orange .theme-container {
  --primary: var(--color-orange-600);
  --primary-foreground: var(--color-orange-50);
  --ring: var(--color-orange-400);
  --chart-1: var(--color-orange-300);
  --chart-2: var(--color-orange-500);
  --chart-3: var(--color-orange-600);
  --chart-4: var(--color-orange-700);
  --chart-5: var(--color-orange-800);
  --sidebar-primary: var(--color-orange-600);
  --sidebar-primary-foreground: var(--color-orange-50);
  --sidebar-ring: var(--color-orange-400);

  @variant dark {
    --primary: var(--color-orange-500);
    --primary-foreground: var(--color-orange-50);
    --ring: var(--color-orange-900);
    --sidebar-primary: var(--color-orange-500);
    --sidebar-primary-foreground: var(--color-orange-50);
    --sidebar-ring: var(--color-orange-900);
  }
}

.theme-teal .theme-container {
  --primary: var(--color-teal-600);
  --primary-foreground: var(--color-teal-50);
  --chart-1: var(--color-teal-300);
  --chart-2: var(--color-teal-500);
  --chart-3: var(--color-teal-600);
  --chart-4: var(--color-teal-700);
  --chart-5: var(--color-teal-800);
  --sidebar-primary: var(--color-teal-600);
  --sidebar-primary-foreground: var(--color-teal-50);
  --sidebar-ring: var(--color-teal-400);

  @variant dark {
    --primary: var(--color-teal-500);
    --primary-foreground: var(--color-teal-50);
    --sidebar-primary: var(--color-teal-500);
    --sidebar-primary-foreground: var(--color-teal-50);
    --sidebar-ring: var(--color-teal-900);
  }
}

.theme-mono .theme-container {
  --font-sans: var(--font-mono);
  --primary: var(--color-stone-600);
  --primary-foreground: var(--color-stone-50);
  --chart-1: var(--color-stone-300);
  --chart-2: var(--color-stone-500);
  --chart-3: var(--color-stone-600);
  --chart-4: var(--color-stone-700);
  --chart-5: var(--color-stone-800);
  --sidebar-primary: var(--color-stone-600);
  --sidebar-primary-foreground: var(--color-stone-50);
  --sidebar-ring: var(--color-stone-400);

  @variant dark {
    --primary: var(--color-stone-500);
    --primary-foreground: var(--color-stone-50);
    --sidebar-primary: var(--color-stone-500);
    --sidebar-primary-foreground: var(--color-stone-50);
    --sidebar-ring: var(--color-stone-900);
  }

}

.theme-scaled .theme-container {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
}

.theme-red .theme-container {
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-red-50);
  --ring: var(--color-red-400);
  --chart-1: var(--color-red-300);
  --chart-2: var(--color-red-500);
  --chart-3: var(--color-red-600);
  --chart-4: var(--color-red-700);
  --chart-5: var(--color-red-800);
  --sidebar-primary: var(--color-red-600);
  --sidebar-primary-foreground: var(--color-red-50);
  --sidebar-ring: var(--color-red-400);

  @variant dark {
    --primary: var(--color-red-500);
    --primary-foreground: var(--color-red-50);
    --ring: var(--color-red-900);
    --sidebar-primary: var(--color-red-500);
    --sidebar-primary-foreground: var(--color-red-50);
    --sidebar-ring: var(--color-red-900);
  }
}

.theme-yellow .theme-container {
  --primary: var(--color-yellow-400);
  --primary-foreground: var(--color-yellow-900);
  --ring: var(--color-yellow-400);
  --chart-1: var(--color-yellow-300);
  --chart-2: var(--color-yellow-500);
  --chart-3: var(--color-yellow-600);
  --chart-4: var(--color-yellow-700);
  --chart-5: var(--color-yellow-800);
  --sidebar-primary: var(--color-yellow-600);
  --sidebar-primary-foreground: var(--color-yellow-50);
  --sidebar-ring: var(--color-yellow-400);

  @variant dark {
    --primary: var(--color-yellow-500);
    --primary-foreground: var(--color-yellow-900);
    --ring: var(--color-yellow-900);
    --sidebar-primary: var(--color-yellow-500);
    --sidebar-primary-foreground: var(--color-yellow-50);
    --sidebar-ring: var(--color-yellow-900);
  }
}

.theme-violet .theme-container {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-violet-50);
  --ring: var(--color-violet-400);
  --chart-1: var(--color-violet-300);
  --chart-2: var(--color-violet-500);
  --chart-3: var(--color-violet-600);
  --chart-4: var(--color-violet-700);
  --chart-5: var(--color-violet-800);
  --sidebar-primary: var(--color-violet-600);
  --sidebar-primary-foreground: var(--color-violet-50);
  --sidebar-ring: var(--color-violet-400);

  @variant dark {
    --primary: var(--color-violet-500);
    --primary-foreground: var(--color-violet-50);
    --ring: var(--color-violet-900);
    --sidebar-primary: var(--color-violet-500);
    --sidebar-primary-foreground: var(--color-violet-50);
    --sidebar-ring: var(--color-violet-900);
  }
}